@charset "utf-8";
body {
	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
	padding: 0;
	text-align: center; /* esto centra el contenedor en los navegadores IE 5*. El texto se ajusta posteriormente con el valor predeterminado de alineación a la izquierda en el selector #container */
	color: #CCC;
	background-color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
}

/* Sugerencias para diseños elásticos 
1. Dado que el tamaño global de los diseños elásticos se basa en el tamaño de fuente predeterminado del usuario, resultan algo más impredecibles. Si se utilizan correctamente, también son más accesibles para aquellas personas que necesitan tamaños de fuentes más grandes, dado que la longitud de línea mantiene la proporcionalidad.
2. La asignación de tamaño a los divs en este diseño se basa en el 100% del tamaño de fuente en el elemento body. Si reduce el tamaño global del texto empleando font-size: 80% en el elemento body o el #container, recuerde que todo el diseño reducirá su tamaño proporcionalmente. Es posible que le interese aumentar los anchos de los diversos divs para compensar este efecto.
3. Si la asignación de tamaño de fuente se modifica de forma distinta en cada div en lugar de hacerse en el diseño global (es decir: a #sidebar1 se le asigna un 70% de tamaño de fuente y a #mainContent se le asigna un 85% de tamaño de fuente), ello hará que se modifique proporcionalmente el tamaño global de cada uno de los div. Si lo desea, puede realizar el ajuste basándose en la asignación de tamaño de fuente final.
*/
.oneColElsCtrHdr #container {
	width: 924px;
	margin: 0 auto;
	text-align: left;
	background-repeat: no-repeat;
	background-color: #333;
}
.oneColElsCtrHdr #header {
	background-image: url(../img/cabecera.jpg);
	height: 178px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 20px;
} 
.oneColElsCtrHdr #header h1 {
	margin: 0; /* el ajuste en cero del margen del último elemento del div de #header evita la contracción del margen (un espacio inexplicable entre divs). Si el div tiene un borde alrededor, esto no es necesario, ya que también evita la contracción del margen */
	padding: 10px 0; /* el uso de relleno en lugar de margen le permitirá mantener el elemento alejado de los bordes del div */
	}

.oneColElsCtrHdr #mainContent {
	margin: 0px;
	height: 217px;
	width: 924px;
	padding: 0px;
	background-image: url(../img/base_default.jpg);
}

.oneColElsCtrHdr #default {
	margin: 0px;
	height: 217px;
	width: 924px;
	padding: 0px;
	background-image: url(../img/base_default.jpg);
	text-align: center;
}

.oneColElsCtrHdr #login {
	margin: 0px;
	height: 217px;
	width: 924px;
	padding: 0px;
	background-image: url(../img/base_default.jpg);
	text-align: center;
}

.oneColElsCtrHdr #menu {
	margin: 0px;
	height: 217px;
	width: 924px;
	padding: 0px;
	background-image: url(../img/base_default.jpg);
	text-align: center;
}

.oneColElsCtrHdr #reg_vehi {
	margin: 0px;
	height: auto;
	width: 924px;
	padding: 0px;
	background-image: url(../img/base.jpg);
	text-align: left;
}

.oneColElsCtrHdr #ing_sal {
	margin: 0px;
	height: auto;
	width: 924px;
	padding: 0px;
	background-image: url(../img/base.jpg);
	text-align: center;
}

#bot_default1 {
	height: 139px;
	width: 146px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../img/ingreso_salida.png);
}
#bot_default2 {
	height: 139px;
	width: 146px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#bot_default3 {
	height: 139px;
	width: 146px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 450px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#bot_menu1 {
	height: 139px;
	width: 146px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(../img/ingreso_salida.png);
}
#bot_menu2 {
	height: 139px;
	width: 146px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 520px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#campo_login {
	height: 139px;
	width: 500px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 400px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#campo_login2 {
	height: 180px;
	width: 500px;
	padding: 0px;
	float: right;
	margin-top: 20px;
	margin-right: 400px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#campo_ing_sal {
	height: 139px;
	width: 800px;
	padding: 0px;
	float: right;
	margin-top: 38px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.borde {
	border: 5px solid #D98200;
	background-color: #FFF;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}
.borde2 {
	border: thin solid #999;
	background-color: #666;
	font-size: 16px;
	font-weight: bold;
	color: #CCC;
}

.titulo1 {
	border: thin solid #E28F29;
	background-color: #EEBB7D;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.resaltado {
	font-size: 16px;
	font-weight: bold;
	color: #FC0;
}
.bigtext1{
	font-size: 40px;
	font-weight: bold;
	color: #C5C5C6;
}
.bigtext2{
	font-size: 24px;
	font-weight: bold;
	color: #C5C5C6;
}

.oneColElsCtrHdr #footer { 
	padding: 0 10px; /* este relleno coincide con la alineación izquierda de los elementos de los divs que aparecen por encima de él. */
	background:#DDDDDD;
} 
.oneColElsCtrHdr #footer p {
	margin: 0; /* el ajuste en cero de los márgenes del primer elemento del pie evitará que puedan contraerse los márgenes (un espacio entre divs) */
	padding: 10px 0; /* el relleno de este elemento creará espacio, de la misma forma que lo haría el margen, sin el problema de la contracción de márgenes */
}
.oneColElsCtrHdr #container #ing_sal table {
	font-weight: bold;
	text-align: left;
	color: #CCC;
}
