.CeldaTitulo2 {
	color: #FFFFFF;
	background-color: #57882B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.TextoVariable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.CeldaTitulo3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #8EB758;
	font-weight: bold;	
}
.TextoFijo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.TextoCabecera {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #57882B;
}
.TextoGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
